.ChallengeBoxContainer {
    height: 100%;
    
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.ChallengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChallengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.ChallengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.ChallengeBoxActive {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ChallengeBoxActive header {

    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.ChallengeBoxActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.ChallengeBoxActive main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
} 

.ChallengeBoxActive main p {
    line-height: 1.5;
}

.ChallengeBoxActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ChallengeBoxActive footer button {
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 0;

    transition: filter 0.2s;
}

.ChallengeBoxActive footer button.ChallengeFailedButton {
    background: var(--red);
}

.ChallengeBoxActive footer button.ChallengeSucceededButton {
    background: var(--green);
}

.ChallengeBoxActive footer button:hover {
    filter: brightness(0.9);
}